.search-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 3rem;
    color: var(--gray);
    background-color: var(--darkgray);
    width: 75%;
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3rem;
}

.search-flex input{
    background-color: var(--darkgray);
    width: 100%;
    border: none;
    font-family: "Intern";
    font-size: 1.2rem;
    color: var(--gray);
    
}

.search-flex input:focus{
  outline: none;
}