@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root{
  --white : #fff;
  --black : #111;
  --blue : #3a80e9;
  --gray : #888;
  --darkgray: #1b1b1b;
  --green:   #61c96f;
  --red: #f94141;
}
html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
  color: var(--white);
  /* height: 200vh; */
}

::selection {
  background-color: var(--blue);
  color: var(--white);
}

/* width */
::-webkit-scrollbar {
  width: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--black);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a{
  color: white;
  text-decoration: none;
}

.root{
  width: max-content;
}

img{
  -webkit-user-drag : none;
  -khtml-user-drag : none;
  -moz-user-drag : none;
  -o-user-drag : none;
}
.gray-wrapper {
  display: block;
  width: 90%;
  background-color: var(--darkgray);
  margin: 1.5rem auto;
  border-radius: 0.8rem;
  padding: 0rem 1rem;
}

.dark-mode .gray-wrapper {
  background-color: var(--white);
}


.coin-days-flex{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.dark-mode{
   background-color: var(--white);
   color: var(--black);
}

.dark-mode .header{
  background-color: var(--white);
}

.dark-mode .logo{
  color: var(--black);
}

.dark-mode .outline-btn{
    background-color: var(--white);
    color: var(--black);
}

.dark-mode .search-flex{
  background-color: #f3f3f3;
}

.dark-mode .search-flex>input{
  background-color: #f3f3f3;
}

.dark-mode .grid-container{
  background-color: var(--white);
  color: var(--black);
}
.dark-mode .coin-days-flex>div>div{
  color: var(--black);
}

.dark-mode .gray-wrapper > p{
  color: var(--black);
}
.dark-mode .gray-wrapper  a{
  color: var(--black);
}
@media screen and (max-width:800px){
  .dark-mode .drawer-div{
    background-color: var(--white) !important;
  }
}